<div class="post">
  <div class="header">
    <h1>This Very Post Title</h1>

    <button
      class="btn btn-link"
      [routerLink]="['/']" >
      Home Page
    </button>
  </div>

  <div class="info">
    <strong>Post's Author</strong>
    <small >Post's date</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id ipsa nesciunt ratione dicta eveniet, quos aliquam quam alias harum velit quae, fugiat maiores tempora enim excepturi eum itaque culpa rem iste qui modi. Iure nihil totam beatae officia ad nisi nesciunt soluta impedit consequuntur ab, aperiam dignissimos libero perspiciatis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id ipsa nesciunt ratione dicta eveniet, quos aliquam quam alias harum velit quae, fugiat maiores tempora enim excepturi eum itaque culpa rem iste qui modi. Iure nihil totam beatae officia ad nisi nesciunt soluta impedit consequuntur ab, aperiam dignissimos libero perspiciatis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id ipsa nesciunt ratione dicta eveniet, quos aliquam quam alias harum velit quae, fugiat maiores tempora enim excepturi eum itaque culpa rem iste qui modi. Iure nihil totam beatae officia ad nisi nesciunt soluta impedit consequuntur ab, aperiam dignissimos libero perspiciatis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id ipsa nesciunt ratione dicta eveniet, quos aliquam quam alias harum velit quae, fugiat maiores tempora enim excepturi eum itaque culpa rem iste qui modi. Iure nihil totam beatae officia ad nisi nesciunt soluta impedit consequuntur ab, aperiam dignissimos libero perspiciatis!</p>

  </div>
</div>
