<form class="card" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">

  <h2>
    Please, sign in to enter your profile:
  </h2>

  <div
    class="alert alert-danger"
    *ngIf="authService.loginError$ | async as error" >

    {{error}}

  </div>

  <div class="form-control">

    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">

    <div
      class="validation"
      *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">

      <small *ngIf="loginForm.get('email').errors.required">
        E-mail is required
      </small>
      <small *ngIf="loginForm.get('email').errors.email">
        Please, enter correct e-mail adress
      </small>

    </div>

  </div>

  <div class="form-control">

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">

    <div
      class="validation"
      *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">

      <small *ngIf="loginForm.get('password').errors.required">
        Password is required
      </small>
      <small *ngIf="loginForm.get('password').errors.minlength">
        Password must contain not less than {{loginForm.get('password').errors.minlength.requiredLength}} symbols
      </small>
    </div>

  </div>

  <div class="loginFooter">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid || submitted">
     LogIn
    </button>

    <a [routerLink]="['/admin/signup']" >
     Create new user
    </a>
  </div>



</form>

